@model List<DiaryEntry>


<div class="row mt-4 mb-2">
    <div class="col">
        <a type="button"
           asp-area=""
           asp-controller="DiaryEntries"
           asp-action="NewEntry"
           class="btn btn-primary btn-lg">
            <i class="bi bi-plus-circle"></i>
            Add Diary Entry
        </a>
    </div>
    <div class="col text-end"><h2>Dairy Entries</h2></div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.Title</td>
                    <td>@entry.Content</td>
                    <td>@entry.Created.ToString("dd MMM yyyy")</td>
                    <td>
                        <div class="row justify-content-between ">
                            <div class="col-xl-6 mb-2 mb-xl-0">
                                <a asp-controller="DiaryEntries" asp-action="EditEntry" asp-route-id="@entry.EntryId" type="button" class="btn btn-info w-100"><i class="bi bi-pencil-square"></i> Edit</a>
                            </div>
                            <div class="col-xl-6">
                                <a asp-controller="DiaryEntries" asp-action="DeleteEntry" asp-route-id="@entry.EntryId" type="button" class="btn btn-danger w-100"><i class="bi bi-trash"></i> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>